:root {
    --primary-background-color: darkblue;
    --secondary-background-color: rgb(51, 51, 51);
    font-family: 'Mona Sans', sans-serif;
    font-weight: lighter;
}

body {
    margin: 0;
}

header {
    background-color: var(--primary-background-color);
    padding-top: 0.75rem;
}

h1 {
    color: white;
    padding: 0.75rem;
    text-align: center;
    font-weight: 500;
}

nav {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: .3rem;
}

nav a {
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    flex: 1 1 100%;
}

nav a:hover {
    text-decoration: underline 1px;
    color: white;
}

main {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    padding: 0.75rem;
    grid-template: auto auto auto / 66% 34%;
}

p {
    color: white;
    text-align: left;
    margin: 0;
}

footer {
    background-color: black;
    text-align: center;
    padding: .75rem;
    display: flex;
    /* Use flexbox to center content */
    justify-content: center;
    /* Horizontally center the content */
    align-items: center;
    /* Vertically center the content if necessary */
}

footer p {
    margin: 0;
    padding: 0.25rem;
}

.card {
    display: grid;
    background-color: var(--secondary-background-color);
    border-radius: 25px;
    margin: 0.5rem;
    padding: 1rem;
    grid-template: 0.25fr 1fr 0.5fr / 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.card h2 {
    text-align: center;
    color: white;
    grid-column: 1 / 3;
}

.card h3 {
    text-align: center;
    color: white;
    grid-column: 1 / 3;
}

.card a {
    display: block;
    color: white;
    text-decoration: underline 1px;
    padding: 0.5rem;
}

ul {
    list-style: none;
    /* justify-content: center;
    align-content: center; */
    /* height: 100%; */
}

img {
    padding: 0.25rem;
}

.about {
    padding-left: 1rem;
}