/* "" */
* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Faculty Glyphic", sans-serif;
}

header {
    background-color: skyblue;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
}

body {
    display: grid;
    place-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

h2 {
    text-align: center;
    padding: 1rem;
    font-size: 1.75rem;
}

img {
    display: block;
    margin: auto;
}

.hero img {
    width: 100%;
}

.dataset {
    /* width: 80%; */
    /* border: 1px solid black; */
    display: grid;
    align-items: center;
    padding: 1rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: right;
    padding-top: 0.5rem;
}

.row:last-child {
    padding-bottom: 0.5rem;
}

.col:first-child{
    font-weight: 1000;
    padding-right: 0.5rem
}

.col:last-child {
    text-align: left;
    padding-left: 0.25rem;
}

.weather {
    padding: 1rem;
}

footer {
    text-align: center;
    background-color: skyblue;
    width: 100%;
    padding: 1rem;
}

/* larger screen */

@media screen and (min-width: 700px) {
    .dataset {
        position: absolute;
        background-color: rgba(255,255,255,0.7);
        padding: 1rem;
        margin: 1rem;
    }

    .dataset h2 {
        text-align: left;
        background-color: rgba(135, 206, 235,0.7);
        width: 100%;
    }

    .weather {
        position: absolute;
        right: 8rem;
        bottom: 1rem;
        background-color: rgba(255,255,255,0.8);
    }

    .weather img {
        display: none;
    }

    .weather h2 {
        text-align: left;
        background-color: rgba(135, 206, 235,0.8);
        width: 100%;
    }

    .weather h2::after {
        content: "🌧️"
    }
}