* {
    font-family: "Lato", sans-serif;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
}

h1 {
    padding-left: 2rem;
}

nav {
    flex-grow: 1;
    display: flex;
    background-color: blueviolet;
    justify-content: right;
    width: 40%;
    padding-right: 3rem;
}

nav a {
    display: none;
    text-decoration: none;
    color: white;
    margin: 0 20px;
}

nav a:hover {
    text-decoration: underline 0.5px;
}

body {
    margin: 0;
}

main {
    width: 90%;
    max-width: 1500px;
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 0 auto;
    justify-items: center;
    padding: 0.75rem;
}

h2 {
    text-align: center;
}

.images {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-gap: 20px; */
}

footer {
    text-align: center;
    background-color: blueviolet;
    margin: 0;
    padding: 0.75rem;
}

footer p {
    margin: 0;
    padding: 0.25rem;
    color: white;
}

figcaption {
    text-align: center;
}